INTERVAL_MINUTES=
LOG_LEVEL= # DEBUG / WARNING / ERROR

BOOKED_EVENTS_STORAGE_PATH= # Prefferable local-storage/[file-name].json as /local-storage is in .gitignore

# Optional, semicolon separated list e.g. --no-sandbox; --disable-setuid-sandbox
# PUPPETEER_BROWSER_ARGS=

USE_DISCOUNT_CARD= # true / false

KLUBY_EMAIL=
KLUBY_PASSWORD=
KLUBY_USER_NAME=

FIREBASE_API_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_RULES_PATH=
